*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer_center {
    background-color: rgb(255, 255, 255);
}

.footer_full_cont {
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    align-items: center;
}

.add_copyright {
    display: block;
}

.footer01 a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer01 a:hover {
    color: rgb(0, 0, 0);
}

.footer02 a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer03 p {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer_t {
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-bottom: 5%;
}

.copyright {
    font-family: monospace;
    text-align: center;
    padding-top: 3%;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
    .footer_full_cont {
        flex-direction: column;
        text-align: center;
    }

    .footer_full_cont > div {
        margin-bottom: 20px;
    }

    .footer_t {
        font-size: 1.1rem;
    }

    .footer01 a, .footer02 a, .footer03 p {
        font-size: 0.9rem;
    }
}
